<footer class="footer">
  <div class="content">
    <div class="left-section">
      <div class="company-name">CompanyName</div>
      <div class="vertical-line"></div>
      <div class="contact-info">
        <p><mat-icon>email</mat-icon> info@example.com</p>
        <p><mat-icon>phone</mat-icon> +1234567890</p>
        <p><mat-icon>location_on</mat-icon> companyLocation</p>
        <p><mat-icon>facebook</mat-icon> facebookUrl</p>
      </div>
    </div>
  </div>
  <div class="copyright">&copy; 2025 CompanyName. All rights reserved.</div>
</footer>
